{% extends "base.html" %}
{% load static %}



{% block body %}


<section class="page-header">
    <div class="container">
        <h2>Contact</h2>
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="{% url "home:home" %}">Home</a></li>
            <li><span>Contact</span></li>
        </ul><!-- /.thm-breadcrumb -->
    </div><!-- /.container -->
</section><!-- /.page-header -->

 

{% include "contact_form.html" %}



<section class="contact-info-one">
    <div class="container">
        <div class="inner-container">
            <div class="contact-info-one__icon">
                <i class="vimns-icon-phone"></i>
            </div><!-- /.contact-info-one__icon -->
            <div class="contact-info-one__content">
                <div class="contact-info-one__box">
                    <div class="contact-info-one__box-inner">

                        <h3>Visit Hospital</h3>
                        <p>{{myinfo.place}}</p>

                    </div><!-- /.contact-info-one__box-inner -->
                </div><!-- /.contact-info-one__box -->
                <div class="contact-info-one__box">
                    <div class="contact-info-one__box-inner">

                        <h3>Call Now</h3>
                        <p><a href="tel:{{ myinfo.phone_number }}">{{myinfo.phone_number}}</a></p>

                    </div><!-- /.contact-info-one__box-inner -->
                </div><!-- /.contact-info-one__box -->
                <div class="contact-info-one__box">
                    <div class="contact-info-one__box-inner">

                        <h3>Send Email</h3>
                        <span class="contact-info__icon"><i class="ti-email"></i></span>
                        <p><a href="mailto:{{ myinfo.email }}">{{myinfo.email}}</a></p>

                    </div><!-- /.contact-info-one__box-inner -->
                </div><!-- /.contact-info-one__box -->
            </div><!-- /.contact-info-one__content -->
        </div><!-- /.inner-container -->
    </div><!-- /.container -->
</section><!-- /.contact-info-one -->
<section class="contact-info-one">

    
  
</section>



{% endblock body %}