{% extends "base.html" %}

{% load static %}

{% block body %}

<section class="page-header">
  <div class="container">
      <h2>Forecast</h2>
      <ul class="thm-breadcrumb list-unstyled">
          <li><a href="{% url "home:home" %}">Home</a></li>
          <li><span>Forecast</span></li>
      </ul><!-- /.thm-breadcrumb -->
  </div><!-- /.container -->
</section><!-- /.page-header -->

<section class="faq-one faq-one__faq-page">
  <div class="container">
    <div class="row" width="2500">
        <div class="col-md-10" width="2300">
          <h3>Total Coronavirus Cases in Egypt</h3>
          <canvas id="myChartline" height="100" width="200"></canvas>
        </div>
    
  </div><!-- /.container -->
</section><!-- /.faq-one -->



<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
  var endpoint = '/forecast/api';

  $.ajax({
    method: "GET",
    url: endpoint,
    success: function(data) {
      drawLineGraph(data, 'myChartline');
      console.log(" ");
    },
    error: function(error_data) {
      console.log(error_data);
    }
  })

  function drawLineGraph(data, canvasId) {
    var labels = ['Total Cases', 'Recovered Cases', 'Total Deaths'];
    var chartLabel = data.chartLabel;
    var chartdata = data.chartdata;
    var recovered = data.recovered;
    var death = data.death;

    var ctx = document.getElementById(canvasId).getContext('2d');
    var chart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [
          {
            label: "Covid-19",
            backgroundColor: ["#ff0000", "#00cc00", "#1f2e2e"],
            data: chartdata,
          }
        ]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  }
</script>

{% endblock body %}
